@font-face {
    font-family: Oswald;
    font-weight: 500;
    src: url(Fonts/Oswald/Oswald-VariableFont_wght.ttf);
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: rgb(223, 223, 233);
    font-family: Oswald;
    color: rgb(0, 0, 0);
}

input {
    font-family: Oswald;
}

button {
    cursor: pointer;
    font-family: Oswald;
}

form {
    display: flex;
    flex-direction: column; 
}

h2 {
    margin: 0;
}

p {
    text-align: center;
}

.header {
    position: relative;
    top: 0;
    height: 75px;
    background-color: rgb(255, 255, 255);
}

    .header_menu {
        display: flex;
        justify-content: center;
    }

        .header_menu_button {
            display: flex;
            justify-content: center;
            height: 75px;
            padding-left: 20px;
            padding-right: 20px;
            font-size: 20px;
            background-color: rgba(0, 0, 0, 0);
            user-select: none;
        }

        .button_activ {
            background-color: rgb(0,220,100);
        }

            .link{
                text-align: center;
                text-decoration: none;
                color: rgb(0, 0, 0);
                margin: auto;
            }

                .link_activ {
                    color: rgb(255, 255, 255);
                }

.content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .content_block {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 85%;
        margin-top: 25px;
        background-color: rgb(255, 255, 255);
    }

        .content_block_script {
            flex-shrink: 0;
            width: 600px;
            height: 400px;
            color: rgb(255, 255, 255);
            background-color: rgb(0, 0, 0);
            margin: 20px;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .overflow {
            height: auto;
        }

        .row{
            width: 3px;
            height: 350px;
            background-color: rgb(209, 209, 209);
            border-radius: 2px;
            margin-right: 20px;
        }

        .content_block_text {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-grow: 3;
            padding-right: 20px;
        }

            .script_input {
                width: 220px;
                height: 40px;
                margin-bottom: 20px;
                padding-inline: 10px;
                border: 2px rgba(0,0,0,0.1) solid;
                border-radius: 5px;
                outline: none;
                transition: border 0.2s linear;
            }

                .script_input:focus {
                    border: 2px rgb(0,220,100) solid;
                }

            .script_button {
                width: 244px;
                height: 46px;
                color: rgb(255, 255, 255);
                background-color: rgb(0,220,100);
                padding: 10px;
                border: none;
                border-radius: 5px;
            }

.foter {
    width: 100%;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    margin-top: 25px;
}

@media all and (max-width:1024px) {
    body {
        font-size: 11px;
    }

    p {
        font-size: 12px;
    }

    .header {
        height: 50px;
        overflow: hidden;
    }

    .header_menu {
        overflow: hidden;
        overflow-x: scroll;
        justify-content: start;
    }

    .header_menu_button {
        height: 50px;
        font-size: 11px;
    }

    .content_block {
        flex-direction: column;
        width: 100%;
    }

    .row {
        width: 43vh;
        height: 2px;
        margin: 0;
        margin-bottom: 10px;
    }

    .content_block_script{
        width: 100%;
        border-radius: 0;
        height: auto;
        margin: 10px;
    }

    .content_block_text {
        padding: 0;
    }

    .script_input {
        width: 160px;
        margin-bottom: 15px;
        font-size: 10px;
    }

    .script_button {
        width: 184px;
        margin-bottom: 15px;
        font-size: 10px;
    }
}