@font-face {
    font-family: Oswald;
    font-weight: 500;
    src: url(../../Fonts/Oswald/Oswald-VariableFont_wght.ttf);
}

body {
    margin: 0;
    font-family: Oswald;
    font-size: 18px;
    color: white;
}

input {
    font-family: Oswald;
    font-size: 18px;
}

button {
    font-family: Oswald;
    font-size: 18px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgb(53, 142, 242) 50%, rgb(81, 117, 238));
    min-height: 100vh;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

    .svg {
        height: 26px;
    }

.back_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border: 2px solid white;
    border-radius: 50%;
    background: rgba(0,0,0,0);
    cursor: pointer;
}

.header_number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 3px solid white;
    border-radius: 50%;
    user-select: none;
}

.score_block {
    box-sizing:border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60px;
    height: 35px;
    border: 2px solid white;
    border-radius: 15px;
    padding-inline: 3px;
    user-select: none;
}

.question {
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.question_image {
    display: flex;
    justify-content: center;
    width: 100%;
}

    .image {
        width: 80%;
        border-radius: 10px;
    }

.question_title_block {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
}

    .question_number {
        opacity: 0.6;
        font-size: 14px;
    }

    .question_title {
        font-size: 20px;
    }

.question_block {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.questions {
    width: 90%;
    margin-top: 8px;
    margin-bottom: 8px;
}

.questions_button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50px;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: rgb(56, 138, 241);
}

.questions_button:active {
    background: linear-gradient(rgb(240, 215, 0), rgb(178, 186, 10));
    color: white;
}

/* ----------------------------------------- */

.container_reg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgb(53, 142, 242) 50%, rgb(81, 117, 238));
    min-height: 100vh;
}

.reg {
    max-width: 400px;
    width: 100%;
}

.user_form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.user_form_input {
    box-sizing:border-box;
    width: 90%;
    min-height: 50px;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    padding-inline: 10px;
    border: 3px rgba(0,0,0,0.1) solid;
    border-radius: 10px;
    outline: none;
    color: rgb(56, 138, 241);
}

    .user_form_input:focus {
        border: 3px rgb(178, 186, 10) solid;
    }

.user_form_button {
    margin-top: 30px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50px;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: rgb(56, 138, 241);
}

.conteiner_menu {
    margin-top: 30px;
}

/* ----------------------------------------- */

.tab {
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.score_table {
    width: 90%;
    display: flex;
    flex-direction: column;
    border: 3px rgb(255, 255, 255) solid;
    border-radius: 5px;
}

.title_row {
    padding: 10px;
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
}

.row {
    padding: 5px;
    padding-inline: 10px;
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    border-top: 3px rgb(255, 255, 255) solid;
}

.cell {
    width: 50%;
    text-align: center;
}